
<h3 class='text-center text-info'>Owner Login !!!</h3>



<div class='well'>

	<form role="form" name  = 'login'>
		<div class="form-group">
			<label for="email">Email address</label> <input type="email"
				class="form-control" id="email" placeholder="example@domain.com" required
				ng-model = 'oc.cred.email'  name = 'lemail'>
		</div>
		
		<div ng-messages='login.lemail.$error' ng-if='login.lemail.$dirty'>
			<p class='alert alert-warning' ng-message='required'>Code is
				required</p>
			<p class='alert alert-warning' ng-message='email'>email is
				required</p>
		</div>
		
		
		<div class="form-group">
			<label for="password">Password</label> <input type="password"
				class="form-control" id="password" placeholder="Password"
				ng-model = 'oc.cred.password' name = 'lpass' required>
		</div>

		<div ng-messages='login.lpass.$error' ng-if='login.lpass.$dirty'>
			<p class='alert alert-warning' ng-message='required'>password is
				required</p>
	
		</div>


		<div class="text-center">
			<button type="submit" class="btn large-btn btn-primary" ng-click = 'oc.login()'>Submit</button>
			<button type="button" class="btn btn-link">Forgot Password?</button>
		</div>
	</form>

</div>

<div ng-if = 'login.$submitted && !oc.success'>

           	<p class='alert alert-warning' >email or password is wrong</p>
</div>


</div>


